[submodule "vendor/concourse-credhub"]
	path = vendor/concourse-credhub
	url = https://github.com/pivotalservices/concourse-credhub.git
[submodule "vendor/concourse-bosh-deployment"]
	path = vendor/concourse-bosh-deployment
	url = https://github.com/concourse/concourse-bosh-deployment.git
[submodule "vendor/pcf-prometheus-pipeline"]
	path = vendor/pcf-prometheus-pipeline
	url = https://github.com/pivotal-cf/pcf-prometheus-pipeline.git
[submodule "vendor/pcf-pipelines"]
	path = vendor/pcf-pipelines
	url = https://github.com/pivotal-cf/pcf-pipelines.git
[submodule "vendor/bbr-pcf-pipeline-tasks"]
	path = vendor/bbr-pcf-pipeline-tasks
	url = https://github.com/pivotal-cf/bbr-pcf-pipeline-tasks.git
